<div class="container-fluid">
  <h2>Registrstion Form</h2>
  <form [formGroup]= "registrationForm">
    {{registrationForm.value | json}}
    <div class="form-group">
      <label>Username</label>
      <input [class.is-invalid]="f['userName'].invalid &&
                                 f['userName'].touched " 
              formControlName="userName" 
              type="text" 
              class="form-control">
     <!-- <small [class.d-none]="f['userName'].valid || f['userName'].untouched" class="text-danger">Username is required</small> -->
      <div *ngIf="f['userName'].invalid && f['userName'].touched ">
         <small *ngIf="f['userName'].errors && f['userName'].errors['required']"  class="text-danger">Username is required</small>
         <small *ngIf="f['userName'].errors && f['userName'].errors['minlength']" class="text-danger">Username must be at least three characters</small>
         <small *ngIf="f['userName'].errors && f['userName'].errors['forbiddenName']" class="text-danger">{{f['userName'].errors['forbiddenName'].value}} Username not allowed</small>
      </div>
    
    </div>

    <div class="form-group">
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input formControlName="confirmPassword" type="password" class="form-control">
    </div>

  <div formGroupName="address">
    <div class="form-group">
      <label>City</label>
      <input formControlName="city" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>State </label>
      <input formControlName="state" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Postal </label>
      <input formControlName="postalCode" type="text" class="form-control">
    </div>
  </div>

    <button class="btn btn-primary" type="submit">Register</button>
    <button (click)="loadApiData()" class="btn btn-secondary ml-2" type="button">Load API Data</button>
  </form>
  
</div>